# Guia 7 pandas parte 1

#Instalar Pandas

Este comando instala la librería Pandas.

### pip install pandas

## Importar pandas

El término pd es simplemente un alias o apodo para la librería Pandas. Cuando ves una línea de código como esta:

In [ ]:
import pandas as pd

Lo que sucede es lo siguiente:

import pandas: Carga la librería de Pandas en el programa.

as pd: Le dice a Python que, de ahora en adelante, puedes referirte a la librería pandas usando la abreviatura pd. 

Esto se hace por convención y para escribir un código más corto y limpio. En lugar de escribir pandas.Series() o pandas.DataFrame(), simplemente escribes pd.Series() o pd.DataFrame(). Por eso, en los ejemplos de la guía, todos los comandos que utilizan la librería comienzan con pd.

###Ejercicios

###Objeto Series
Este código crea un objeto Series a partir de una lista de Python y lo imprime.

In [1]:
# Importar la librería pandas
import pandas as pd

# Crear una lista de Python
datos = [2, 3, 5, 7, 11]

# Crear un objeto Series de pandas a partir de la lista
serie = pd.Series(datos)

# Imprimir el objeto Series
print(serie)

0     2
1     3
2     5
3     7
4    11
dtype: int64

###Método describe()
Este ejemplo genera y muestra estadísticas descriptivas para un Series.

In [2]:
# Importar la librería pandas
import pandas as pd

# Crear una lista
datos = [2, 3, 5, 7, 11]

# Crear un objeto Series
serie = pd.Series(datos)

# Generar e imprimir estadísticas descriptivas del Series
print(serie.describe())

count     5.000000
mean      5.600000
std       3.577709
min       2.000000
25%       3.000000
50%       5.000000
75%       7.000000
max      11.000000
dtype: float64

###Conversión Series a Lista
Este código convierte un objeto Series de nuevo en una lista y verifica los tipos de datos en cada paso

In [3]:
# Importar la librería pandas
import pandas as pd

# Crear una lista de Python
datos = [2, 3, 5, 7, 11]

# Crear un objeto Series de pandas
serie = pd.Series(datos)

# Imprimir el tipo de dato de la lista original
print(type(datos))

# Imprimir el tipo de dato del objeto Series
print(type(serie))

# Convertir el Series a una lista y asignarla a una nueva variable
lista = serie.tolist()

# Imprimir el tipo de dato de la nueva lista convertida
print(type(lista))

<class 'list'>
<class 'pandas.core.series.Series'>
<class 'list'>

###Operaciones aritméticas básicas con Series
Este ejemplo realiza operaciones matemáticas elemento a elemento entre dos objetos Series.

In [4]:
# Importar la librería pandas
import pandas as pd

# Crear el primer objeto Series
serie1 = pd.Series([1, 2, 3, 4, 5])

# Crear el segundo objeto Series
serie2 = pd.Series([6, 7, 8, 9, 10])

# Sumar los dos objetos Series (suma elemento a elemento)
suma = serie1 + serie2

# Restar los dos objetos Series (resta elemento a elemento)
resta = serie1 - serie2

# Multiplicar los dos objetos Series (multiplicación elemento a elemento)
multiplicacion = serie1 * serie2

# Dividir los dos objetos Series (división elemento a elemento)
division = serie1 / serie2

# Imprimir los resultados de cada operación
print(suma)
print(resta)
print(multiplicacion)
print(division)

0     7
1     9
2    11
3    13
4    15
dtype: int64
0   -5
1   -5
2   -5
3   -5
4   -5
dtype: int64
0     6
1    14
2    24
3    36
4    50
dtype: int64
0    0.166667
1    0.285714
2    0.375000
3    0.444444
4    0.500000
dtype: float64

###Conversión de Diccionario Python a Series
Este código crea un Series a partir de un diccionario, usando las claves como índice.

In [5]:
# Importar la librería pandas
import pandas as pd

# Crear un diccionario de Python
# Las claves se convertirán en el índice y los valores en los datos
datos = {'a': 10, 'b': 20, 'c': 30, 'd': 40}

# Crear un objeto Series a partir del diccionario
serie = pd.Series(datos)

# Imprimir el objeto Series
print(serie)

a    10
b    20
c    30
d    40
dtype: int64

###Conversión Arreglo Numpy a Series
Este ejemplo convierte un arreglo de NumPy a un Series de Pandas.

In [6]:
# Importar la librería numpy
import numpy as np

# Importar la librería pandas
import pandas as pd

# Crear un arreglo de NumPy
arreglo = np.array([2, 3, 5, 7, 11])

# Imprimir el arreglo original de NumPy
print(arreglo)

# Crear un objeto Series a partir del arreglo de NumPy
serie = pd.Series(arreglo)

# Imprimir el objeto Series resultante
print(serie)

[ 2  3  5  7 11]
0     2
1     3
2     5
3     7
4    11
dtype: int64

###Cambio de tipo de datos de un objeto Series
Este código convierte un Series de tipo cadena a tipo numérico, manejando errores de conversión.

In [ ]:
# Importar la librería pandas
import pandas as pd

# Crear un Series con valores de cadena
datos = pd.Series(['150', '400', 'ACD104', '120.5', '250.15'])

# Imprimir el Series original (con tipo de dato 'object')
print(datos)

# Convertir los valores a numéricos, reemplazando los errores con NaN
#datos = pd.to_numeric(datos, errors='coerce'): La función pd.to_numeric intenta convertir las cadenas a números. El argumento errors='coerce' reemplaza cualquier cadena que no pueda convertirse ('ACD104') por el valor especial NaN (Not a Number).
datos = pd.to_numeric(datos, errors='coerce')

# Imprimir el Series convertido (con tipo de dato float64)
print(datos)

0       150
1       400
2    ACD104
3     120.5
4    250.15
dtype: object
0    150.00
1    400.00
2       NaN
3    120.50
4    250.15
dtype: float64

###Ejemplo de cambio de datos entero a float
Este ejemplo demuestra una conversión explícita a tipo float.

In [ ]:
# Importar la librería pandas
import pandas as pd

# Crear un Series con valores enteros y de cadena
datos = pd.Series([150, '400', 'ACD104', 120, '250'])

# Imprimir el Series original
print(datos)

# Convertir a numérico (con errores a NaN) y luego a tipo float
#.astype('float'): Luego, se encadena el método astype() para asegurarse de que todos los valores, incluidos los NaN, sean de tipo flotante. #Esto es útil porque la conversión inicial a numérico puede resultar en un tipo mixto si hay NaN presentes.
datos = pd.to_numeric(datos, errors='coerce').astype('float')

# Imprimir el Series con el tipo de dato final 'float64'
print(datos)

0       150
1       400
2    ACD104
3       120
4       250
dtype: object
0    150.0
1    400.0
2      NaN
3    120.0
4    250.0
dtype: float64

##Objeto DataFrame

###Creación de un DataFrame a partir de un diccionario
Este ejemplo crea un DataFrame a partir de un diccionario de Python, donde las claves se convierten en columnas.

datos = {'A': [1, 2, 3], ...}: El diccionario define las columnas ('A', 'B', 'C') y sus datos.

df = pd.DataFrame(datos): Crea el DataFrame a partir del diccionario.

In [9]:
import pandas as pd
datos = {'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}
df = pd.DataFrame(datos)
print(df)
print(type(df))

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9
<class 'pandas.core.frame.DataFrame'>

###Conversión de tipo de datos con DataFrame
Este código muestra cómo cambiar el tipo de dato de columnas específicas en un DataFrame.

df['A'] = df['A'].astype('int64'): Selecciona la columna 'A' y usa astype() para convertir sus valores al tipo entero.

Ejemplo1

In [ ]:
import pandas as pd
datos = {'A': [1, '2', 3], 'B': [4, 5, 6], 'C': [7, '8', 9]}
df = pd.DataFrame(datos)
print(df)
print(df.dtypes)
df['A'] = df['A'].astype('int64')
df['B'] = df['B'].astype('float64')
df['C'] = df['C'].astype('float64')
print(df)
print(df.dtypes)

Ejemplo2

In [ ]:
import numpy as np
import pandas as pd

datos1 = {'A': [1, 2, 3, 4], 'B': [9, 8, 7, 6], 'C': [2, 3, 5, 7]}
print("Conversión de tipo de datos con DataFrame")
print(type(datos1))
df1 = pd.DataFrame(datos1)
print(df1)
print(df1.dtypes)
df2 = pd.DataFrame(data=datos1, dtype=np.int8)
print(df2)
print(df2.dtypes)

df3 = pd.DataFrame(data=datos1, dtype=np.float64)
print (df3)
print(df3.dtypes)

###Construcción de un DataFrame a partir de Series
Este ejemplo construye un DataFrame combinando varios objetos Series.

s1 = pd.Series(...), s2 = pd.Series(...): Se crean dos objetos Series.

df = pd.DataFrame({'col1': s1, 'col2': s2}): Un diccionario se usa para asignar cada Series a una columna con un nombre específico.

In [11]:
import pandas as pd
s1 = pd.Series([1, 2, 3])
s2 = pd.Series([4, 5, 6])
df = pd.DataFrame({'col1': s1, 'col2': s2})
print(df)

   col1  col2
0     1     4
1     2     5
2     3     6

Ejemplo 2
df = pd.DataFrame(data=datos, index=[0, 1, 2, 3]): Se crea un DataFrame de pandas a partir del diccionario datos.

data=datos: Se le dice a pandas que use el diccionario datos como los datos de origen. Las claves del diccionario ('columnal' y 'columna2') se convierten en los nombres de las columnas.

index=[0, 1, 2, 3]: Se especifica el índice del DataFrame. Es un arreglo de etiquetas para las filas.

In [ ]:

import numpy as np

import pandas as pd

datos = {'columnal': [0, 1, 2, 3], 'columna2': pd.Series( [2, 3], index=[2, 3])}

df = pd.DataFrame (data=datos, index=[0, 1, 2, 3])

print("Construcción de un DataFrame a partir de Series")

print(df)

Analisis de resultado 

columna1: Se creó a partir de la lista [0, 1, 2, 3] y se alinea perfectamente con el índice del DataFrame, de 0 a 3.

columna2: Se creó a partir de la Serie. Pandas alinea los datos de la Serie con el índice del DataFrame. Como la Serie original solo tenía valores para los índices 2 y 3, las filas 0 y 1 de la columna2 no tienen un valor correspondiente. Pandas inserta NaN (Not a Number), que es la forma de pandas de representar los datos faltantes. Los valores de la Serie (2 y 3) se colocan correctamente en las filas con índices 2 y 3

###Obtener un valor de un DataFrame a partir de su fila y columna
Obtener el valor df[4, 'B'] del DataFrame df.

cómo acceder y modificar un único elemento usando la propiedad .iat. Este es un método muy eficiente para trabajar con datos cuando se conoce la posición numérica exacta de un elemento.

Acceso a un Elemento con .iat:

print("df.iat[1, 2]: ", df.iat[1, 2]): Esta línea usa .iat para acceder a un valor por su posición entera.

df.iat[1, 2] se refiere al elemento en la fila 1 y la columna 2 (los índices en Python comienzan en 0).

El valor en esa posición es 1, por lo que el resultado de esta línea es df.iat[1, 2]: 1.

In [21]:
import pandas as pd

df = pd.DataFrame( [[0, 2, 3], [0, 4, 1], [10, 20, 30]],columns=['A', 'B', 'C'])
print("Obtener un valor de un DataFrame a partir de su fila y columna")
print(df)
print("df.iat[1, 2]: ",df.iat[1, 2])

Obtener un valor de un DataFrame a partir de su fila y columna
    A   B   C
0   0   2   3
1   0   4   1
2  10  20  30
df.iat[1, 2]:  1

Modificación de un Elemento con .iat:

df.iat[1, 2] = 10: Esta línea cambia el valor en la posición de la fila 1, columna 2. El valor de 1 se reemplaza por 10.

print("df.iat[1, 2]: ", df.iat[1, 2]): Vuelve a imprimir el valor en la misma posición, mostrando ahora el nuevo valor modificado. El resultado es df.iat[1, 2]: 10.

In [22]:
import pandas as pd
df = pd.DataFrame( [[0, 2, 3], [0, 4, 1], [10, 20, 30]],columns=['A', 'B', 'C'])
print(df)
print("df.iat[1, 2]: ",df.iat[1, 2])
df.iat[1, 2] = 10
print("df.iat[1, 2]: ",df.iat[1, 2])

    A   B   C
0   0   2   3
1   0   4   1
2  10  20  30
df.iat[1, 2]:  1
df.iat[1, 2]:  10

¿Por qué usar .iat?
.iat (del inglés "integer at") es un método muy rápido para acceder y modificar una sola celda en un DataFrame, ya que se basa en la posición numérica exacta y no en etiquetas de fila o columna. Es la opción preferida cuando se necesita un rendimiento óptimo para operaciones de un solo elemento.

Acceso a un Valor con .at:

print("df.at[4, 'B']: ", df.at[4, 'B']): Esta es la parte principal del ejemplo.

.at (de "at" en inglés, que significa "en") es un método de pandas que se utiliza para acceder a un valor único de manera muy eficiente, usando las etiquetas de fila y columna.

df.at[4, 'B'] busca el valor en la fila con la etiqueta 4 y en la columna con la etiqueta 'B'.

Como se puede ver en el DataFrame, la celda en la intersección de la fila 4 y la columna 'B' contiene el valor 2.

In [ ]:

import pandas as pd
df = pd.DataFrame( [[0, 2, 3], [0, 4, 1], [10, 20, 30]],index=[4, 5, 6], columns=['A', 'B', 'C'])
print(df)
print("df[4,'B']: ",df.at[4, 'B'])

¿Por qué usar .at?
.at es la forma más rápida y recomendada de acceder a un solo elemento en un DataFrame cuando conoces sus etiquetas de fila y columna. Si en cambio conoces las posiciones numéricas (índices enteros), se debe usar el método .iat para un rendimiento óptimo.

###Obtener información de indices y columnas de un DataFrame

Ejemplo de uso de las propiedades .index y .columns para obtener información de indices y columnas de un DataFrame.

Acceso a Atributos del DataFrame:

print("Columnas de df: ", df.columns): Accede al atributo .columns del DataFrame. Este atributo devuelve un objeto que contiene los nombres de las columnas, en este caso, ['A', 'B']. El resultado impreso es:

Columnas de df:  Index(['A', 'B'], dtype='object')
print("Indices de df: ", df.index): Accede al atributo .index. Este atributo devuelve un objeto que contiene los índices de las filas del DataFrame, en este caso, [0, 1]. El resultado impreso es:

Indices de df:  RangeIndex(start=0, stop=2, step=1)
RangeIndex es el tipo de índice que pandas usa por defecto. Indica que las etiquetas van desde 0 hasta 2 (sin incluir el 2), con pasos de 1.

In [23]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})

print(df)

print("Columnas de df: ",df.columns)

print("Indices de df: ",df.index)

   A  B
0  1  3
1  2  4
Columnas de df:  Index(['A', 'B'], dtype='object')
Indices de df:  RangeIndex(start=0, stop=2, step=1)

###Obtener información de indices y columnas de un DataFrame
Ejemplo de uso de la propiedades axes para obtener información de indices y columnas de un DataFrame.

El atributo .axes:
Es útil para obtener rápidamente información sobre la estructura de un DataFrame, permitiéndote ver qué etiquetas se utilizan para sus filas y columnas. Es una forma conveniente de inspeccionar la forma y los nombres de los ejes de tus datos.

print(df.axes): Esta línea accede al atributo .axes del DataFrame. Este atributo es una lista que contiene las etiquetas de los dos ejes del DataFrame:

El índice de las filas (eje 0).

Las etiquetas de las columnas (eje 1).

La salida de esta línea será una lista que contiene el índice y las columnas del DataFrame:

In [24]:
import pandas as pd

df= pd.DataFrame({'columnal': [10, 20, 50], 'columna2': [30, 40, 70]})
print(df)
print(df.axes)
#!/usr/bin/env python3

   columnal  columna2
0        10        30
1        20        40
2        50        70
[RangeIndex(start=0, stop=3, step=1), Index(['columnal', 'columna2'], dtype='object')]