In [1]:
#Fundamentos de Pandas (Continuación)
#3Modificar orden de las columnas de un Dataframe
#El siguiente ejemplo muestra como modificar el orden de las columnas de un Dataframe

import pandas as pd


datos1 = {
    "Departamento": ["San Salvador", "San Salvador", "San Salvador", "La Libertad", "La Libertad", "La Libertad"],
    "anio": [2000, 2001, 2002, 2001, 2002, 2003],
    "valor": [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]
}
frame = pd.DataFrame(datos1)
print(frame)

datos2 = pd.DataFrame(datos1, columns=["anio", "valor", "Departamento"])
print(datos2)

   Departamento  anio  valor
0  San Salvador  2000    1.5
1  San Salvador  2001    1.7
2  San Salvador  2002    3.6
3   La Libertad  2001    2.4
4   La Libertad  2002    2.9
5   La Libertad  2003    3.2
   anio  valor  Departamento
0  2000    1.5  San Salvador
1  2001    1.7  San Salvador
2  2002    3.6  San Salvador
3  2001    2.4   La Libertad
4  2002    2.9   La Libertad
5  2003    3.2   La Libertad

In [2]:
#Modificar orden de las columnas de un Dataframe
#El siguiente ejemplo muestra como modificar el orden de las columnas de un Dataframe, y
#que sucede si se agrega una columna adicional.
import pandas as pd

datos1 = {
    "Departamento": ["San Salvador", "San Salvador", "San Salvador", "La Libertad", "La Libertad", "La Libertad"],
    "anio": [2000, 2001, 2002, 2001, 2002, 2003],
    "valor": [1.5, 1.7, 3.0, 2.4, 2.9, 3.2]
}
frame = pd.DataFrame(datos1)
print(frame)

datos2 = pd.DataFrame(datos1, columns=["anio", "valor", "Departamento", "Habitantes"])
print(datos2)

   Departamento  anio  valor
0  San Salvador  2000    1.5
1  San Salvador  2001    1.7
2  San Salvador  2002    3.0
3   La Libertad  2001    2.4
4   La Libertad  2002    2.9
5   La Libertad  2003    3.2
   anio  valor  Departamento Habitantes
0  2000    1.5  San Salvador        NaN
1  2001    1.7  San Salvador        NaN
2  2002    3.0  San Salvador        NaN
3  2001    2.4   La Libertad        NaN
4  2002    2.9   La Libertad        NaN
5  2003    3.2   La Libertad        NaN

In [3]:
#Obtener el contenido de una columna de un Dataframe
#siguiente ejemplo muestra dos formas de obtener el contenido de una columna de unDataframe.

import pandas as pd

datos1 = {
    "Departamento": ["San Salvador", "San Salvador", "San Salvador", "La Libertad", "La Libertad", "La Libertad"],
    "anio": [2000, 2001, 2002, 2001, 2002, 2003],
    "valor": [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]
}
frame = pd.DataFrame(datos1)
datos2 = pd.DataFrame(datos1, columns=["anio", "valor", "Departamento", "Habitantes"])

print(datos2["Departamento"])
print(datos2.Departamento)

0    San Salvador
1    San Salvador
2    San Salvador
3     La Libertad
4     La Libertad
5     La Libertad
Name: Departamento, dtype: object
0    San Salvador
1    San Salvador
2    San Salvador
3     La Libertad
4     La Libertad
5     La Libertad
Name: Departamento, dtype: object

In [ ]:
#4. Modificar el contenido de una columna
#Este ejemplo muestra cómo cambiar los valores dentro de una columna de un DataFrame. Primero, el código asigna el valor 

#9.5 a toda la columna "valor". Luego, reemplaza esos valores con una nueva secuencia de números generada por 

#np.arange(6.0).
import pandas as pd
import numpy as np

datos1 = {
    "Departamento": ["San Salvador", "San Salvador", "San Salvador", "La Libertad", "La Libertad", "La Libertad"],
    "anio": [2000, 2001, 2002, 2001, 2002, 2003],
    "valor": [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]
}
frame = pd.DataFrame(datos1)
datos2 = pd.DataFrame(datos1, columns=["anio", "valor", "Departamento", "Habitantes"])

datos2["valor"] = 9.5
print(datos2["valor"])

datos2["valor"] = np.arange(6.0)
print(datos2.valor)

0    9.5
1    9.5
2    9.5
3    9.5
4    9.5
5    9.5
Name: valor, dtype: float64
0    0.0
1    1.0
2    2.0
3    3.0
4    4.0
5    5.0
Name: valor, dtype: float64

In [2]:
#Agregar columna en un Dataframe
#El siguiente ejemplo muestra otro método para agregar columna a un DataFrame.
#Este ejemplo ilustra otra forma de agregar una columna a un DataFrame y cómo #agregar una columna basada en una condición. El código crea una nueva columna #booleana llamada "Capital" , que es 
#True si el "Departamento" es "San Salvador" y False en los demás casos.
import pandas as pd
import numpy as np

datos1 = {
    "Departamento": ["Chalatenango", "San Salvador", "San Miguel", "Sonsonate", "San Salvador", "La Paz"],
    "anio": [2000, 2001, 2002, 2001, 2002, 2003],
    "valor": [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]
}
frame = pd.DataFrame(datos1)
datos2 = pd.DataFrame(datos1, columns=["anio", "valor", "Departamento", "Habitantes"])

datos2["valor"] = 9.5
datos2["valor"] = np.arange(6.0)
print(datos2)

datos2["Capital"] = datos2["Departamento"] == "San Salvador"
print(datos2)

   anio  valor  Departamento Habitantes
0  2000    0.0  Chalatenango        NaN
1  2001    1.0  San Salvador        NaN
2  2002    2.0    San Miguel        NaN
3  2001    3.0     Sonsonate        NaN
4  2002    4.0  San Salvador        NaN
5  2003    5.0        La Paz        NaN
   anio  valor  Departamento Habitantes  Capital
0  2000    0.0  Chalatenango        NaN    False
1  2001    1.0  San Salvador        NaN     True
2  2002    2.0    San Miguel        NaN    False
3  2001    3.0     Sonsonate        NaN    False
4  2002    4.0  San Salvador        NaN     True
5  2003    5.0        La Paz        NaN    False

In [3]:
#Borrar columna en un Dataframe
# Este ejemplo muestra cómo eliminar una columna de un DataFrame.
# El código utiliza la instrucción `del` para remover la columna "Capital".
import pandas as pd

datos1 = {
    "Departamento": ["Chalatenango", "San Salvador", "San Miguel", "Sonsonate", "San Salvador", "La Paz"],
    "anio": [2000, 2001, 2002, 2001, 2002, 2003],
    "valor": [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]
}
datos2 = pd.DataFrame(datos1, columns=["anio", "valor", "Departamento", "Habitantes"])
datos2["Capital"] = datos2["Departamento"] == "San Salvador"

print(datos2)
del datos2["Capital"]
print(datos2)

   anio  valor  Departamento Habitantes  Capital
0  2000    1.5  Chalatenango        NaN    False
1  2001    1.7  San Salvador        NaN     True
2  2002    3.6    San Miguel        NaN    False
3  2001    2.4     Sonsonate        NaN    False
4  2002    2.9  San Salvador        NaN     True
5  2003    3.2        La Paz        NaN    False
   anio  valor  Departamento Habitantes
0  2000    1.5  Chalatenango        NaN
1  2001    1.7  San Salvador        NaN
2  2002    3.6    San Miguel        NaN
3  2001    2.4     Sonsonate        NaN
4  2002    2.9  San Salvador        NaN
5  2003    3.2        La Paz        NaN

In [4]:
#Diccionarios anidados con DataFrame
# Crea un DataFrame a partir de diccionarios anidados
# Este ejemplo demuestra cómo Pandas interpreta un diccionario anidado para crear un DataFrame.
import pandas as pd # Importa la librería pandas con el alias pd
import numpy as np # Importa la librería numpy con el alias np

# Crea un diccionario anidado.
# Las claves externas ("La Paz", "San Salvador") serán las columnas.
# Las claves internas ("2000", "2001", "2002") se convertirán en los índices de fila.
poblacion = {
    "La Paz": {2000: 1.5, 2001: 1.7, 2002: 3.6},
    "San Salvador": {2000: np.nan, 2001: 2.4, 2002: 2.9}
}
# Crea el DataFrame a partir del diccionario anidado.
datos1 = pd.DataFrame(poblacion)
print(datos1) # Imprime el DataFrame resultante.

      La Paz  San Salvador
2000     1.5           NaN
2001     1.7           2.4
2002     3.6           2.9

In [5]:
#8. Atributos name para columnas e índices de un DataFrame
# Asigna nombres a los índices y columnas de un DataFrame
# Este ejemplo muestra cómo asignar nombres al índice y a las columnas de un DataFrame.
import pandas as pd # Importa la librería pandas con el alias pd
import numpy as np # Importa la librería numpy con el alias np

# Crea un diccionario anidado.
poblacion = {
    "La Paz": {2000: 1.5, 2001: 1.7, 2002: 3.6},
    "San Salvador": {2000: np.nan, 2001: 2.4, 2002: 2.9}
}
# Crea el DataFrame.
datos1 = pd.DataFrame(poblacion)

# Asigna el nombre "anio" al índice de las filas.
datos1.index.name = "anio"
# Asigna el nombre "estado" a las columnas.
datos1.columns.name = "estado"
print(datos1) # Imprime el DataFrame con los nombres de índice y columnas actualizados.

estado  La Paz  San Salvador
anio
2000       1.5           NaN
2001       1.7           2.4
2002       3.6           2.9

In [6]:
#Método reindex aplicado a Series
#Al invocar al método reindex() se reorganizan los datos según el nuevo índice, introduciendo
#valores faltantes (NaN) si aún no había valores de índice presentes:

# Reorganiza el índice de una Serie
# Este ejemplo demuestra el uso del método `.reindex()` en una Serie de Pandas.
import pandas as pd # Importa la librería pandas con el alias pd
import numpy as np # Importa la librería numpy con el alias np

# Crea una Serie con un conjunto de datos y un índice de letras.
obj = pd.Series([4.5, 7.2, -5.3, 3.6], index=["d", "c", "b", "a"])
print(obj) # Imprime la Serie original.

# Llama al método `reindex` con un nuevo índice.
# Esto reordena los datos según el nuevo índice y añade valores `NaN` para las nuevas etiquetas
# ('e' y 'f') que no existían en el índice original.
obj2 = obj.reindex(["a", "b", "c", "d", "e", "f"])
print(obj2) # Imprime la Serie con el nuevo índice y los valores reorganizados.

d    4.5
c    7.2
b   -5.3
a    3.6
dtype: float64
a    3.6
b   -5.3
c    7.2
d    4.5
e    NaN
f    NaN
dtype: float64

In [7]:
#Método reindex aplicado a Dataframe
#Al invocar al método reindex() se reorganizan los datos según el nuevo índice, introduciendo
#valores faltantes (NaN) si aún no había valores de índice presentes:

# Reorganiza el índice de un DataFrame
# Este ejemplo muestra cómo usar `.reindex()` para reordenar las filas de un DataFrame.
import pandas as pd # Importa la librería pandas con el alias pd
import numpy as np # Importa la librería numpy con el alias np

# Crea un DataFrame a partir de un array de 3x3 de numpy.
# Las filas tienen un índice de letras: 'a', 'c', 'd'.
datos1 = pd.DataFrame(np.arange(9).reshape(3, 3), index=["a", "c", "d"], columns=["San Salvador", "San Miguel", "Santa Ana"])
print(datos1) # Imprime el DataFrame original.

# Llama a `reindex` con un nuevo índice de filas.
# Las filas se reordenan para que coincidan con el nuevo índice.
# Se añade una nueva fila con la etiqueta 'b', y como no hay datos para ella, se llena con `NaN`.
datos2 = datos1.reindex(["a", "b", "c", "d"])
print(datos2) # Imprime el DataFrame con las filas reordenadas y la nueva fila.

   San Salvador  San Miguel  Santa Ana
a             0           1          2
c             3           4          5
d             6           7          8
   San Salvador  San Miguel  Santa Ana
a           0.0         1.0        2.0
b           NaN         NaN        NaN
c           3.0         4.0        5.0
d           6.0         7.0        8.0

In [ ]:
#Lectura de archivo CSV con Pandas
# Lee un archivo CSV
# Este ejemplo demuestra cómo leer un archivo de valores separados por comas (CSV) en un DataFrame.
import pandas as pd # Importa la librería pandas con el alias pd

# Lee el archivo CSV ubicado en la ruta especificada y lo carga en un DataFrame.
clima = pd.read_csv("C:/Users/jacqu/Downloads/Nueva carpeta/clima_2018.csv")

print(clima.head()) # Imprime las primeras filas del DataFrame para verificar su contenido.

datos_snow = clima.query('datatype == "SNOW" and value > 0')# Filtra el DataFrame para obtener solo las filas donde 'datatype' es "SNOW" y 'value' es mayor que 0.
print(datos_snow.head())# Imprime las primeras filas del DataFrame filtrado para verificar su contenido.


#su sentencia equivalente en sql
#SELECT * FROM clima WHERE datatype == "SNOW" AND value > 0;

                  date datatype            station attributes  value
0  2018-01-01T00:00:00     PRCP  GHCND:US1CTFR0039       ,,N,    0.0
1  2018-01-01T00:00:00     PRCP  GHCND:US1NJBG0015       ,,N,    0.0
2  2018-01-01T00:00:00     SNOW  GHCND:US1NJBG0015       ,,N,    0.0
3  2018-01-01T00:00:00     PRCP  GHCND:US1NJBG0017       ,,N,    0.0
4  2018-01-01T00:00:00     SNOW  GHCND:US1NJBG0017       ,,N,    0.0
                    date datatype            station attributes  value
114  2018-01-01T00:00:00     SNOW  GHCND:US1NYWC0019       ,,N,   25.0
699  2018-01-04T00:00:00     SNOW  GHCND:US1NJBG0015       ,,N,  229.0
702  2018-01-04T00:00:00     SNOW  GHCND:US1NJBG0017       ,,N,   10.0
706  2018-01-04T00:00:00     SNOW  GHCND:US1NJBG0018       ,,N,   46.0
713  2018-01-04T00:00:00     SNOW  GHCND:US1NJES0018       ,,N,   10.0

In [ ]:
#Método query para consultas a Dataframe
import pandas as pd # Importa la librería pandas con el alias pd
import numpy as np # Importa la librería numpy con el alias np

# Lee el archivo CSV ubicado en la ruta especificada y lo carga en un DataFrame.
clima = pd.read_csv("C:/Users/jacqu/Downloads/Nueva carpeta/clima_2018.csv")
print(clima.head())
datos_nieve = clima.query('datatype == "SNOW" and value > 0')
print(datos_nieve)
datos_nieve = clima.query('datatype == "PRCP" and value > 0')
print (datos_nieve)

#nota Sentencia SQL equivalente
#SELECT * FROM clima WHERE datatypе == "SNOW" AND value > 0;
#SELECT * FROM clima WHERE datatype == "PRCP" AND value > 0;

                  date datatype            station attributes  value
0  2018-01-01T00:00:00     PRCP  GHCND:US1CTFR0039       ,,N,    0.0
1  2018-01-01T00:00:00     PRCP  GHCND:US1NJBG0015       ,,N,    0.0
2  2018-01-01T00:00:00     SNOW  GHCND:US1NJBG0015       ,,N,    0.0
3  2018-01-01T00:00:00     PRCP  GHCND:US1NJBG0017       ,,N,    0.0
4  2018-01-01T00:00:00     SNOW  GHCND:US1NJBG0017       ,,N,    0.0
                      date datatype            station attributes  value
114    2018-01-01T00:00:00     SNOW  GHCND:US1NYWC0019       ,,N,   25.0
699    2018-01-04T00:00:00     SNOW  GHCND:US1NJBG0015       ,,N,  229.0
702    2018-01-04T00:00:00     SNOW  GHCND:US1NJBG0017       ,,N,   10.0
706    2018-01-04T00:00:00     SNOW  GHCND:US1NJBG0018       ,,N,   46.0
713    2018-01-04T00:00:00     SNOW  GHCND:US1NJES0018       ,,N,   10.0
...                    ...      ...                ...        ...    ...
77075  2018-12-24T00:00:00     SNOW  GHCND:US1NJMS0097       ,,N,   25.0
77085  2018-12-24T00:00:00     SNOW  GHCND:US1NJPS0012       ,,N,    3.0
77094  2018-12-24T00:00:00     SNOW  GHCND:US1NJPS0025       ,,N,   20.0
77120  2018-12-24T00:00:00     SNOW  GHCND:US1NYWC0018       ,,N,   18.0
78432  2018-12-30T00:00:00     SNOW  GHCND:US1NYWC0018       ,,N,    5.0

[639 rows x 5 columns]
                      date datatype            station attributes  value
698    2018-01-04T00:00:00     PRCP  GHCND:US1NJBG0015       ,,N,   20.6
701    2018-01-04T00:00:00     PRCP  GHCND:US1NJBG0017       ,,N,    2.0
705    2018-01-04T00:00:00     PRCP  GHCND:US1NJBG0018       ,,N,    8.6
707    2018-01-04T00:00:00     PRCP  GHCND:US1NJBG0023       ,,N,    1.5
712    2018-01-04T00:00:00     PRCP  GHCND:US1NJES0018       ,,N,    1.3
...                    ...      ...                ...        ...    ...
78736  2018-12-31T00:00:00     PRCP  GHCND:USW00054787       ,,W,   28.7
78743  2018-12-31T00:00:00     PRCP  GHCND:USW00094728   ,,W,2400   25.9
78751  2018-12-31T00:00:00     PRCP  GHCND:USW00094741       ,,W,   29.2
78760  2018-12-31T00:00:00     PRCP  GHCND:USW00094745   ,,W,2400   24.4
78768  2018-12-31T00:00:00     PRCP  GHCND:USW00094789   ,,W,2400   31.2

[12524 rows x 5 columns]

In [ ]:
#Método query para consultas a Dataframe parte 2  usando like
import numpy as np
import pandas as pd

# Lee el archivo CSV ubicado en la ruta especificada y lo carga en un DataFrame.
clima = pd.read_csv("C:/Users/jacqu/Downloads/Nueva carpeta/clima_2018.csv")
print(clima.head())
datos = clima.query('datatype == "SNOW" and value > 100 and station.str.contains ("US1CTFR0039")')
print (datos)

#nota Sentencia SQL equivalente
#SELECT * FROM clima WHERE
#datatype == "SNOW" AND value > 0 AND station LIKE "%US1CTFR0039%";

                  date datatype            station attributes  value
0  2018-01-01T00:00:00     PRCP  GHCND:US1CTFR0039       ,,N,    0.0
1  2018-01-01T00:00:00     PRCP  GHCND:US1NJBG0015       ,,N,    0.0
2  2018-01-01T00:00:00     SNOW  GHCND:US1NJBG0015       ,,N,    0.0
3  2018-01-01T00:00:00     PRCP  GHCND:US1NJBG0017       ,,N,    0.0
4  2018-01-01T00:00:00     SNOW  GHCND:US1NJBG0017       ,,N,    0.0
                      date datatype            station attributes  value
10859  2018-02-18T00:00:00     SNOW  GHCND:US1CTFR0039       ,,N,  133.0
18114  2018-03-22T00:00:00     SNOW  GHCND:US1CTFR0039       ,,N,  165.0
20568  2018-04-02T00:00:00     SNOW  GHCND:US1CTFR0039       ,,N,  184.0

In [4]:
#Método describe aplicado a columnas de un Dataframe

# Obtiene un resumen estadístico de las columnas
# Este ejemplo demuestra el uso del método `.describe()`, que proporciona un resumen estadístico de los datos.
import pandas as pd # Importa la librería pandas con el alias pd

# Lee el archivo CSV ubicado en la ruta especificada y lo carga en un DataFrame.
clima = pd.read_csv("C:/Users/jacqu/Documents/Aprendizaje Automatico y ciencia de datos/Python/Guia 8 Pandas parte 2/clima_2018.csv")
print(clima.head())

print("\n ****** clima.date.describe(): ******")
print(clima.date.describe())
print("\n ****** clima.value.describe(): ******")
print(clima.value.describe())

                  date datatype            station attributes  value
0  2018-01-01T00:00:00     PRCP  GHCND:US1CTFR0039       ,,N,    0.0
1  2018-01-01T00:00:00     PRCP  GHCND:US1NJBG0015       ,,N,    0.0
2  2018-01-01T00:00:00     SNOW  GHCND:US1NJBG0015       ,,N,    0.0
3  2018-01-01T00:00:00     PRCP  GHCND:US1NJBG0017       ,,N,    0.0
4  2018-01-01T00:00:00     SNOW  GHCND:US1NJBG0017       ,,N,    0.0

 ****** clima.date.describe(): ******
count                   78780
unique                    365
top       2018-03-22T00:00:00
freq                      296
Name: date, dtype: object

 ****** clima.value.describe(): ******
count    78780.000000
mean        44.951456
std        192.835503
min        -72.800000
25%          0.000000
50%          1.000000
75%         12.800000
max       2359.000000
Name: value, dtype: float64