#**Problema 1.** 
Leer el archivo de datos **marketing.csv**, almacenar el contenido en un **DataFrame**, y proceder a resolver los siguientes enunciados:

a) Cargado el archivo **marketing.csv** en el DataFrame, mostrar, mediante **DataFrame.describe()**, las características resumen de las columnas que no son numéricas (5%).

In [3]:
import pandas as pd 

marketing = pd.read_csv("C:/Users/Jacky/Documents/Aprendizaje_Automatico_y_ciencia_de_datos/Python/Guia de ejercicios/marketing.csv", sep="\t")
#print(marketing.head(2))# Muestra las primeras 2 filas del DataFrame
print("Resumen de las caracteristicas que no son numéricas ")
print(marketing.describe(include=['object']))

Resumen de las caracteristicas que no son numéricas
         Education Marital_Status Dt_Customer
count         2240           2240        2240
unique           5              8         663
top     Graduation        Married  31-08-2012
freq          1127            864          12

b) Cargado el archivo **marketing.csv** en el DataFrame, mostrar, mediante **DataFrame.describe()**, las características resumen de las columnas que sí son numéricas. Mostrar los cuartiles, es decir, percentiles 25%, 50% y 75% (5%).

In [4]:
#El data frame ya fue caragado en el literal anterior y guardado en la variable marketing
#Uso loc para seleccionar las filas cuyas etiquetas(indices) corresponden a los cuartiles 25%, 50% y 75%
#print(marketing.describe().loc[['25%', '50%', '75%']])
#con describe y query queriendo solo los cuartiles 25%, 50% y 75% para mostrar el mismo resultado
print("Mosntrando todas las carateristicas resumen con describe()")
print(marketing.describe())
print("Monstrando unicamente los cuartiles 25%, 50% y 75%")
Cuartiles=marketing.describe().query("index in ['25%', '50%', '75%']")
print(Cuartiles)

Mosntrando todas las carateristicas resumen con describe()
                 ID   Year_Birth         Income      Kidhome     Teenhome  \
count   2240.000000  2240.000000    2216.000000  2240.000000  2240.000000
mean    5592.159821  1968.805804   52247.251354     0.444196     0.506250
std     3246.662198    11.984069   25173.076661     0.538398     0.544538
min        0.000000  1893.000000    1730.000000     0.000000     0.000000
25%     2828.250000  1959.000000   35303.000000     0.000000     0.000000
50%     5458.500000  1970.000000   51381.500000     0.000000     0.000000
75%     8427.750000  1977.000000   68522.000000     1.000000     1.000000
max    11191.000000  1996.000000  666666.000000     2.000000     2.000000

           Recency     MntWines    MntFruits  MntMeatProducts  \
count  2240.000000  2240.000000  2240.000000      2240.000000
mean     49.109375   303.935714    26.302232       166.950000
std      28.962453   336.597393    39.773434       225.715373
min       0.000000     0.000000     0.000000         0.000000
25%      24.000000    23.750000     1.000000        16.000000
50%      49.000000   173.500000     8.000000        67.000000
75%      74.000000   504.250000    33.000000       232.000000
max      99.000000  1493.000000   199.000000      1725.000000

       MntFishProducts  ...  NumWebVisitsMonth  AcceptedCmp3  AcceptedCmp4  \
count      2240.000000  ...        2240.000000   2240.000000   2240.000000
mean         37.525446  ...           5.316518      0.072768      0.074554
std          54.628979  ...           2.426645      0.259813      0.262728
min           0.000000  ...           0.000000      0.000000      0.000000
25%           3.000000  ...           3.000000      0.000000      0.000000
50%          12.000000  ...           6.000000      0.000000      0.000000
75%          50.000000  ...           7.000000      0.000000      0.000000
max         259.000000  ...          20.000000      1.000000      1.000000

       AcceptedCmp5  AcceptedCmp1  AcceptedCmp2     Complain  Z_CostContact  \
count   2240.000000   2240.000000   2240.000000  2240.000000         2240.0
mean       0.072768      0.064286      0.013393     0.009375            3.0
std        0.259813      0.245316      0.114976     0.096391            0.0
min        0.000000      0.000000      0.000000     0.000000            3.0
25%        0.000000      0.000000      0.000000     0.000000            3.0
50%        0.000000      0.000000      0.000000     0.000000            3.0
75%        0.000000      0.000000      0.000000     0.000000            3.0
max        1.000000      1.000000      1.000000     1.000000            3.0

       Z_Revenue     Response
count     2240.0  2240.000000
mean        11.0     0.149107
std          0.0     0.356274
min         11.0     0.000000
25%         11.0     0.000000
50%         11.0     0.000000
75%         11.0     0.000000
max         11.0     1.000000

[8 rows x 26 columns]
Monstrando unicamente los cuartiles 25%, 50% y 75%
          ID  Year_Birth   Income  Kidhome  Teenhome  Recency  MntWines  \
25%  2828.25      1959.0  35303.0      0.0       0.0     24.0     23.75
50%  5458.50      1970.0  51381.5      0.0       0.0     49.0    173.50
75%  8427.75      1977.0  68522.0      1.0       1.0     74.0    504.25

     MntFruits  MntMeatProducts  MntFishProducts  ...  NumWebVisitsMonth  \
25%        1.0             16.0              3.0  ...                3.0
50%        8.0             67.0             12.0  ...                6.0
75%       33.0            232.0             50.0  ...                7.0

     AcceptedCmp3  AcceptedCmp4  AcceptedCmp5  AcceptedCmp1  AcceptedCmp2  \
25%           0.0           0.0           0.0           0.0           0.0
50%           0.0           0.0           0.0           0.0           0.0
75%           0.0           0.0           0.0           0.0           0.0

     Complain  Z_CostContact  Z_Revenue  Response
25%       0.0            3.0       11.0       0.0
50%       0.0            3.0       11.0       0.0
75%       0.0            3.0       11.0       0.0

[3 rows x 26 columns]


c) Cambiar los nombres de las columnas **Year_Birth**, **Education** y **Marital_Status** del DataFrame a **Año_de_nacimiento**, **Educación** y **Estado_civil**, respectivamente. Devolver una copia del DataFrame, de modo que el DataFrame original se mantenga inalterado (5%).

In [8]:
#Renombrando las columnas y guardando el resultado en un nuevo DataFrame tipo copia el cual tiene las columnas renombradas
marketing_copia=marketing.rename(columns={"Year_Birth": "Año_de_nacimiento", "Education": "Educación", "Marital_Status": "Estado_civil"}, inplace=False)
print("DataFrame original con las columnas originales")
originales = ["Year_Birth", "Education", "Marital_Status"]
print(marketing[originales].columns)
print("DataFrame copia con las columnas renombradas")
renombradas = ["Año_de_nacimiento", "Educación", "Estado_civil"]
print(marketing_copia[renombradas].columns)

DataFrame original con las columnas originales
Index(['Year_Birth', 'Education', 'Marital_Status'], dtype='object')
DataFrame copia con las columnas renombradas
Index(['Año_de_nacimiento', 'Educación', 'Estado_civil'], dtype='object')


d) Determinar cuantas columnas del DataFrame tienen valores perdidos (valores faltantes) (5%).

In [ ]:
print("Ver Columnas con datos faltantes")
Nan=marketing.isnull().any()
columnas_Nan=marketing.columns[Nan]
print("Las columnas con datos faltantes son: ",  columnas_Nan)
#Cantiad de columnas con datos faltantes
cantidad_columnas_Nan=Nan.sum()
print("Lantidad de columnas con datos faltantes(NaN) es: ", cantidad_columnas_Nan)
print("Cantidad de datos faltantes por  otra  forma  columna")
print(len(columnas_Nan))

Ver Columnas con datos faltantes
Las columnas con datos faltantes son:  Index(['Income'], dtype='object')
Lantidad de columnas con datos faltantes(NaN) es:  1
Cantidad de datos faltantes por  otra  forma  columna
1


e) Cambiar el tipo de datos de las columnas **MntWines**, **MntFruits**, **MntMeatProducts**, **MntFishProducts**, **MntSweetProducts** y **MntGoldProds** del DataFrame, realizar al cambio al tipo de dato **float64** (5%).

In [21]:
#Para no modificar el dataframa original ocupamos la copia marketing_copia
Mnt_Columnas = ['MntWines', 'MntFruits', 'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts', 'MntGoldProds']
print("Vemos el tipo de datos antes del cambio")
#podemos usar el original marketing o la copia marketing_copia para ver el tipo de datos antes del cambio
print(marketing.dtypes[Mnt_Columnas])
#Cambiando el tipo de datos de las columnas especificadas a float64
marketing_copia=marketing_copia[Mnt_Columnas].astype("float64")
print("Vemos el cambio de tipo de datos")
print(marketing_copia.dtypes[Mnt_Columnas])

Vemos el tipo de datos antes del cambio
MntWines            int64
MntFruits           int64
MntMeatProducts     int64
MntFishProducts     int64
MntSweetProducts    int64
MntGoldProds        int64
dtype: object
Vemos el cambio de tipo de datos
MntWines            float64
MntFruits           float64
MntMeatProducts     float64
MntFishProducts     float64
MntSweetProducts    float64
MntGoldProds        float64
dtype: object


f) Obtener con una sola orden, la media, desviación y suma de la columna **Income**. Indexar los elementos resultantes utilizando las etiquetas **Media**, **Desviación** y **Suma** respectivamente (5%).

In [20]:
Columna_Income=marketing_copia["Income"]
Datos = Columna_Income.agg(['mean', 'std', 'sum'])
print("Resultado al obtener la media(mean), desviación estándar(std) y suma de la columna(sum) Income")
print(Datos)

Resultado al obtener la media(mean), desviación estándar(std) y suma de la columna(sum) Income
mean    5.224725e+04
std     2.517308e+04
sum     1.157799e+08
Name: Income, dtype: float64


g) Utilizando una sola orden, obtener la media y desviación estándar para todas las columnas “**Mnt**” en **mnt_colums** (5%).

In [22]:

Calculos = marketing[['MntWines', 'MntFruits', 'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts', 'MntGoldProds']].describe().query("index in ['mean', 'std']")
#Otra forma de hacerlo y la recomendada es usando agg
Calculos2 = marketing[['MntWines', 'MntFruits', 'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts','MntGoldProds']].agg(['mean', 'std'])
print("Resultado al obtener la media(mean) y desviación estándar(std) de las columnas de Mnt")
#print(Calculos)
print(Calculos2)

Resultado al obtener la media(mean) y desviación estándar(std) de las columnas de Mnt
        MntWines  MntFruits  MntMeatProducts  MntFishProducts  \
mean  303.935714  26.302232       166.950000        37.525446
std   336.597393  39.773434       225.715373        54.628979

      MntSweetProducts  MntGoldProds
mean         27.062946     44.021875
std          41.280498     52.167439


h) Mostrar los 5 clientes (**5 filas**) cuya suma de gastos (columnas en **mnt_colums**) es mayor que el resto de clientes (5%).

In [8]:
# Creamos la columna Gasto que es la suma de las columnas de Mnt para cada cliente(fila) dicho de otra forma es el resultado de sumar horizontalmente las columnas de Mnt
marketing['Gasto$'] = marketing[Mnt_Columnas].sum(axis=1)

# Los 5 clientes que más gastaron
clientes_5 = marketing.sort_values(by='Gasto$', ascending=False).head(5)

# Agrega una etiqueta al índice y le da un nombre
clientes_5.index.name = 'Clientes'
clientes_5 = clientes_5[['Gasto$']]

print("Resultado al obtener la suma de las columnas de Mnt")
print(clientes_5)

Resultado al obtener la suma de las columnas de Mnt
          Gasto$
Clientes
1572        2525
1179        2525
1492        2524
987         2486
1052        2440

Usar un solo par de corchetes, como clientes_5['Gasto'], seleccionaría la columna y devolvería un objeto de tipo Series de Pandas, que es una estructura de datos unidimensional.

Usar corchetes dobles, como clientes_5[['Gasto']], selecciona la misma columna pero devuelve un DataFrame, que es una estructura de datos bidimensional (una tabla) con una sola columna.

i) Calcular el porcentaje de dinero que gasta cada cliente (columnas en **mnt_colums**) con respecto a sus ingresos (5%).

In [9]:
#Ingresos (Income) columna
Ingreso_vs_Gasto=['Income', 'Gasto$']
Ver=marketing[Ingreso_vs_Gasto]
# Calculamos el porcentaje de dinero gastado respecto al ingreso y creamos una nueva columna '%Dinero_Gastado' donde se almacena el resultado
marketing['%Dinero_Gastado']=(marketing['Gasto$']/marketing['Income'])*100
df=marketing[['Income', 'Gasto$', '%Dinero_Gastado']]
print("Resultado al obtener las columnas Income y Gasto$")
print(df)

Resultado al obtener las columnas Income y Gasto$
       Income  Gasto$  %Dinero_Gastado
0     58138.0    1617         2.781313
1     46344.0      27         0.058260
2     71613.0     776         1.083602
3     26646.0      53         0.198904
4     58293.0     422         0.723929
...       ...     ...              ...
2235  61223.0    1341         2.190353
2236  64014.0     444         0.693598
2237  56981.0    1241         2.177919
2238  69245.0     843         1.217416
2239  52869.0     172         0.325332

[2240 rows x 3 columns]

j) Calcular la media y desviación del **50%** de los clientes que tienen un mayor salario (5%)

In [ ]:
#total de filas
total_filas=len(marketing)
#otra forma
#marketing.shape[0] #número de filas
el50_porciento_clientes = (marketing.shape[0] * 0.5)
print("El 50% de los clientes es: ", el50_porciento_clientes)
orden=marketing.sort_values(by='Income', ascending=False).head(int(el50_porciento_clientes))
#Seleccionamos el 50% de los clientes que más ingresos tienen
print("Los clientes que más ingresos tienen son: " , orden)
#calculando la media y la desviacion
print("Media y desviación estándar de los clientes que más ingresos tienen")
print(orden.describe().query("index in ['mean', 'std']"))

El 50% de los clientes es:  560.0
Los clientes que más ingresos tienen son:           ID  Year_Birth   Education Marital_Status    Income  Kidhome  \
2233   9432        1977  Graduation       Together  666666.0        1
617    1503        1976         PhD       Together  162397.0        1
687    1501        1982         PhD        Married  160803.0        0
1300   5336        1971      Master       Together  157733.0        1
164    8475        1973         PhD        Married  157243.0        0
...     ...         ...         ...            ...       ...      ...
2083   5396        1988  Graduation        Married   68487.0        0
357    6184        1969         PhD        Married   68462.0        0
929   10673        1976         PhD        Married   68397.0        0
143    2937        1974         PhD         Single   68352.0        0
1029   8985        1964    2n Cycle       Together   68316.0        0

      Teenhome Dt_Customer  Recency  MntWines  ...  NumWebVisitsMonth  \
2233         0  02-06-2013       23         9  ...                  6
617          1  03-06-2013       31        85  ...                  1
687          0  04-08-2012       21        55  ...                  0
1300         0  04-06-2013       37        39  ...                  1
164          1  01-03-2014       98        20  ...                  0
...        ...         ...      ...       ...  ...                ...
2083         0  13-01-2013       48       758  ...                  4
357          0  12-12-2012        6       561  ...                  1
929          1  17-11-2013        6       760  ...                  3
143          1  28-08-2013       47       614  ...                  6
1029         1  04-11-2012       54       806  ...                  6

      AcceptedCmp3  AcceptedCmp4  AcceptedCmp5  AcceptedCmp1  AcceptedCmp2  \
2233             0             0             0             0             0
617              0             0             0             0             0
687              0             0             0             0             0
1300             0             0             0             0             0
164              0             0             0             0             0
...            ...           ...           ...           ...           ...
2083             0             0             0             0             0
357              0             0             0             0             0
929              0             0             0             0             0
143              0             0             0             0             0
1029             0             0             0             0             0

      Complain  Z_CostContact  Z_Revenue  Response
2233         0              3         11         0
617          0              3         11         0
687          0              3         11         0
1300         0              3         11         0
164          0              3         11         0
...        ...            ...        ...       ...
2083         0              3         11         0
357          0              3         11         0
929          0              3         11         0
143          0              3         11         0
1029         0              3         11         0

[560 rows x 29 columns]
Media y desviación estándar de los clientes que más ingresos tienen
               ID   Year_Birth        Income   Kidhome  Teenhome    Recency  \
mean  5660.250000  1967.885714  80450.566071  0.078571  0.280357  48.791071
std   3164.997052    13.083924  27308.609941  0.275872  0.480355  29.459974

        MntWines  MntFruits  MntMeatProducts  MntFishProducts  ...  \
mean  635.558929  60.614286       435.450000        88.373214  ...
std   331.655133  48.774841       253.090637        65.289955  ...

      NumWebVisitsMonth  AcceptedCmp3  AcceptedCmp4  AcceptedCmp5  \
mean           2.926786      0.076786      0.137500      0.273214
std            1.849430      0.266489      0.344682      0.446008

      AcceptedCmp1  AcceptedCmp2  Complain  Z_CostContact  Z_Revenue  Response
mean      0.216071      0.028571  0.003571            3.0       11.0  0.266071
std       0.411932      0.166748  0.059708            0.0        0.0  0.442297

[2 rows x 26 columns]